@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: #0F0D0D;
    flex-wrap: wrap;
    width: 100%;
    height: 205px;
}


#title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    color: whitesmoke;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px;
}


#logo {
    cursor: pointer;
    max-width: 130px;
    border-radius: 50%;
    height: 130px;
    background-color: whitesmoke;

}

.nav-links {
    list-style: none;

}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
    text-transform: uppercase;
    position: relative;

}

.nav-links li a {
    transition: all 0.3s ease 0s;

}


.nav-links li a:hover {
    color: #E12424;

}

.nav-links li a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #E12424;
    display: inline-block;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    margin-bottom: -10px;
}

.nav-links li a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);

}

.button {
    padding: 9px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: whitesmoke;
}


.button:hover {
    background-color: gold;

}

.button1 {
    background-color: whitesmoke;
    border-color: #E12424;
    border-width: thick;
    color: black;
    border-style: solid;
    font-weight: bold;
}

.button2 {
    background-color: #E12424;
    border-color: #E12424;
    border-style: solid;
    font-weight: bold;
    border-width: thick;
}

.router-link-active {
    color: red;
}
