.join-main-section{
    font-family: "Montserrat";
    margin: auto;
    width: 700px;
    margin-left: 130px;
    margin-right: 130px;
    padding: 16px;
}
.general-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    margin: auto;
}


.login {
    margin-top: 250px;
}
.title-form{
    text-align: center;
    font-size: 30px;
    color: #0F0D0D;
    margin-bottom: 20px;
}

.description-form {
    font-size: 20px;
    color: #0F0D0D;
    text-align: center;
}

.input-form {
    width: 500px;
    height: 770px;
    padding: 16px;
    margin: auto;
    border-radius: 3px;
    padding-bottom: 500px;
    display: flex;
    flex-wrap: wrap;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
    margin: auto;
    width: 650px;
}


input[type=text], input[type=password]{
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    width: 500px;
    height: 50px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=time]{
    margin: 2px;
    margin-left: 10px;
}

.formbtn {
    background-color: #DC7633;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 500px;
    opacity: 0.9;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 50px;
}

.loginbtn:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.registerbtn:hover {
    opacity:1;
}

#signin {
    text-align: center;
    color: #0F0D0D;

}

a {
    color: dodgerblue;
}


.description{
    resize: none;
    border-radius: 3px;
    margin-top: 20px;
    width: 500px;
}

.banner {
    width: 290px;
    height: 1300px;
    padding-top: 0px;
}

#button-back {
    border-radius: 30px;
    background-color: #24262b;
    color: whitesmoke;
    width: 500px;
    margin-bottom: 300px;
}