
#notfound-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}

#notfound {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 130px;
    display: inline-block;
    padding-bottom: 100px;
}

span {
    color: gold;
}
